* {
    background-color: black;
}

@font-face {
    font-family: 'tox_tpw';
    src: url(/fontes/tox_tpw.ttf);
}

/*tentar resolver a posicão do "CHI"*/
.header {
    font-family: 'tox_tpw';
}
.crystal h1 {
    color: white;
    font-size: 100px;
    text-align: center;
    top: auto;
    left: 50px;
    right: 50px;
}

.chi h1 {
    color: #ed63e3;
    font-size: 75px;
    text-align: center;
    position: absolute;
    top: 75px;
    left: 50px;
    right: 50px;
    background: transparent;
}

.natalia h3{
    color: #ba72a5;
    text-align: center;
    position: absolute;
    top: 135px;
    left: 30px;
    right: 250px;
    background: transparent;
}

.fernandes h3 {
    color: #ba72a5;
    text-align: center;
    position: absolute;
    top: 135px;
    left: 300px;
    right: 30px;
    background: transparent;
}

.nav {
    color: aliceblue;
    text-align: center;
    font-family: 'tox_tpw';
    font-size: 50px;
}

.botoes li {
    display: inline;
}

button {
    width: 250px;
    text-align: center;
    font-family: 'tox_tpw';
    font-size: 40px;
    background-color: #e80ba9;
    border-radius: 20px;
}

a {
    color: black;
    background-color: #e80ba9;
    text-decoration: none;
}

a:visited{
    color: black;
}

.logo_marca {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    top: 90px;
}