/*Fontes novas para o design (aqui usamos coisas bonititnhas)*/
/*Tox Typewriter - titulos*/
@font-face {
    font-family: 'tox_tpw';
    src: url(/fontes/tox_tpw.ttf);
}

/*GEIZER - corpo de texto*/
@font-face {
    font-family: 'geizer';
    src: url(/fontes/geizer.ttf);
}

/*estilo geral da página*/
* {
    background-color: black;
}

.inicio {
    font-family: tox_tpw;
}
.sobre h1 {
    color: white;
}

.mim h1 {
    color: #ed63e3;
}

.about h3 {
    color: #ba72a5;
}

.me h3 {
    color: #ba72a5;
}